.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-box input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.search-box input[type="text"]:focus {
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.filme-info {
  margin-top: 20px;
}

.filme-info h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.filme-info p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.filme-info p strong {
  font-weight: bold;
}

.filme-info img {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.favDiv{
  background-color: #007bff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.buttonContainer{
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}

.no-filme-message {
  text-align: center;
  color: #ff6f61;
  font-size: 1.2rem;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .search-box input[type="text"] {
    width: 60%;
  }

  .search-box button {
    padding: 8px 16px;
  }

  .filme-info h2 {
    font-size: 1.5rem;
  }

  .filme-info p {
    font-size: 0.9rem;
  }
}
